body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}
h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}
h2{
    font-size: 30px;
    color: #0D0D0D;
}
p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img{
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #ffffff;
}
div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
}
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top:none;
    border-right: none;
}
.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
}
.blue h2,
.blue p{
    color: #C4C4C4;
}
.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-right: none;
    border-top: none;
}
.yellow p{
    color: #707070;
}
.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-left: none;
    border-bottom: none;
}
footer{
    background: linear-gradient(
        to right,
        #000000,
        #0000ff 25%,
        #0066ff 70%,
        #000000
    );
    border: 5px solid #ffffff;
}
footer p{
    font-size: 20px;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
}